.dark {
    padding-left: 2%;
    background-color: #1E2B38 !important;
    color: #fff;
}
.navbar-brand{
    padding-left: 2%;
    
}
#flex-end {
    justify-content: flex-end;
    padding-right: 2% ;
  }