#icon i {
    padding: 20%;
    font-size: 5rem;
    background-color: #FCBC08;
    border-radius: 50%;
    color: #fff;
    margin:  0 10% 10% 10%;
}
#icon{
    padding-top: 2%;
}
.specie{
    padding-top: 2%;
    margin-left: 8%;
}
thead{
    background-color: #1E2B38;
    color: #fff;
}
.add{
    background-color: #1E2B38;
    color: #fff;
}

